@charset "UTF-8";

html{
    font-size: 87.5%;
    scroll-behavior: smooth;
}

body{
    color: #3A3A39;
    font-family: sans-serif;
}

a{
    color: #3A3A39;
    text-decoration: none;
}

a:visited{
    color: #3A3A39;
}

.abar{
    height: 30px;
    width: 100%;
    background: #ddd;
}

.abar__list{
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
}

.abar__item{
    width: 34%;
}

.abar__item--second{
    justify-self: flex-end;
}

.abar__item--center{
    text-align: center;
}

.abar__item--right{
}

.abar__txt{
    font-weight: 700;
    text-decoration: underline;
}

.abar__list--second{
    justify-content: flex-end;
}

.abar__icon{
    font-size: 1.2rem;
    padding: 0 15px
}

.header{
    height: 90px;
    background: #fff;
    box-shadow: 0px 1px 5px #aaa;

    position: sticky;
    top: 0;
    z-index: 420;
}

.gnav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.gnav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.gnav__link{
    font-weight: 700;
    font-size: 1.3rem;
}

.gnav__list--left{
    width: 35%;
    justify-content: space-between;
}

.gnav__logo{
    display: block;
    height: 85px;
}

.gnav__search{
    padding: 5px;
}

.mvis{
    margin: 100px 0;
    width: 100%;
    height: calc(100vh-120px);
    overflow: hidden;
}

.slider{
    height: 100%;
}

.slider__img{
    clip-path: ellipse(80% 50% at 150% 50%);
}

.mcon{
    width: 90%;
    margin: 0 auto 200px auto;
}

.mcon__cards{
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    justify-content: space-between;
}

.card{
    width: 40%;
    height: 500px;

    border: black solid 1px;
}

.card__fig{
    display: block;
    width: 100%;
    height: 450px;
}

.card__img{
    object-fit: cover;
}

.card__footer{
    height: 50px;

    display: flex;
}

.card__title{
    width: 70%;
    line-height: 50px;
    text-indent: 20px;

    border-top: black solid 1px;
    font-size: 1.3rem;
}

.card__button{
    width: 30%;
    line-height: 50px;
    text-align: center;

    font-weight: 700;
    border-top: black solid 1px;
    border-left: black solid 1px;
}

.wrap{
    width: 100%;
    margin-bottom: 100px;
}

.mcon__header{
    font-size: 1.71rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.pickup__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;

    margin-bottom: 25px;
}

.pickup__img{
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 20px;

    border: black solid 1px;
}

.pickup__item{
    width: 25%;
    margin-bottom: 5px;
}

.pickup__item--left{
    width: 70%;
}

.pickup__item--right{
    width: 30%;
}

.pickup__link{
    display: block;
/*    fix this shit*/
}

.pickup__btn{
    display: block;
    margin: auto;
    padding: 5px 15px;

    background: transparent;
    border: black solid 1px;

    font-weight: 700;

    cursor: pointer;
}

.footer{
    height: 240px;
    background: #ddd;
    padding: 30px;
}

.footer__list{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.footer__list--left{
    flex-direction: column;
}

.footer__header{
    font-weight: 500;
    font-size: 1.71rem;
    margin-bottom: 20px;
}

.footer__input{
    padding: 10px 20px;

    border: none;

    font-size: 1.2rem;
}

.footer__list--sns{
    display: flex;
    list-style: none;
}

.footer__icon{
    font-size: 2rem;
    margin: 0 5px 10px 0;
}

.footer__input--submit{
    cursor: pointer;
    background: #eee;
}

.footer__item--grow{
    width: 50%;
}

.fnav__list{
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;
}

.fnav__header{
    font-size: 1.2rem;
    font-weight: 700;

    margin-bottom: 25px;
}

[class^="pickup__label"]{
    font-size: .86rem;
    padding: 2px;
    background: #3A3A39;
    color: #eee;
    text-align: center;

    user-select: none;
}
