@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');

html{
    font-size: 87.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    color: #3A3A39;
    font-family: 'Noto Sans JP' sans-serif;
}

a{
    color: #3A3A39;
    text-decoration: none;
}

a:visited{
    color: #3A3A39;
}

svg{
    fill: #3A3A39;
}

.abar{
    height: 30px;
    width: 100%;
    background: #ddd;
}

.abar__list{
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
}

.abar__item{
    width: 34%;
}

.abar__item--second{
    justify-self: flex-end;
}

.abar__item--center{
    text-align: center;
}

.abar__item--right{
}

.abar__txt{
    font-weight: 700;
    text-decoration: underline;
}

.abar__list--second{
    justify-content: flex-end;
    margin-right: 30px;
}

.abar__icon{
    font-size: 1.2rem;
    padding: 0 10px
}

.header{
    height: 90px;
    background: #fff;
    box-shadow: 0px 1px 5px #aaa;

    position: sticky;
    top: 0;
    z-index: 420;
}

.gnav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.gnav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.gnav__link{
    font-weight: 700;
    font-size: 1.3rem;

    transition: opacity 0.2s ease-in-out;
}

.gnav__link:hover{
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.gnav__list--left{
    width: 35%;
    min-width: 450px;
    justify-content: space-between;
}

.gnav__logo{
    display: block;
    height: 85px;
}

.gnav__item--right{
    border-top: #3A3A39 solid 1px;
    border-bottom: #3A3A39 solid 1px;
}

.gnav__item--right:nth-child(1){
    border-left: #3A3A39 solid 1px;
}

.gnav__item--right:nth-child(2){
    border-right: #3A3A39 solid 1px;
}

.gnav__search{
    padding: 5px;
    border: none;
    font-size: 1.1rem;
}

.gnav__mag{
    font-size: 1.1rem;
    padding: 5px;
}

.mvis{
    margin-bottom: 200px;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
}

.mvis__header{
    position: absolute;
    left: 30px;
    top: 20%;
    z-index: 2;
}

.mvis__txt{
    color: #00a29a;

    font-size:  8rem;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1rem;

    user-select: none;
}

.mvis__txt:before{
    display: block;
    content: 'New';
    color: transparent;
    -webkit-text-stroke: 1px #3A3A39;
    transform: translate(-1%, 95%);
}

.mvis__txt:after{
    display: block;
    content: 'Arrivals';
    color: transparent;
    -webkit-text-stroke: 1px #3A3A39;
    transform: translate(-1%, -105%);
}

.mvis__btn--wrap{
    text-align: center;
}

.mvis__btn{
    background: white;
    border: #3A3A39 solid 1px;
    padding: 20px 60px;

    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    text-transform: uppercase;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.mvis__btn:hover{
    background: #00a29a;
    color: #fff;
    font-weight: 700;
    border: #00a29a solid 1px;
    transition: all 0.2s ease-in-out;
}

.slider__img--wrap{
    height: calc(100vh - 120px);
    border-radius: 500px;
    overflow: hidden;
    transform: translateX(40%);
}

.slider__img{
    object-fit: cover;
    transform: translate(0, -20%);
}

.mcon{
    width: 80%;
    margin: 0 auto 200px auto;
}

.mcon__cards{
    width: 100%;
    margin-bottom: 200px;

    display: flex;
    justify-content: space-between;
}

.card{
    width: 40%;
    height: 500px;

    border: #3A3A39 solid 1px;
}

.card__fig{
    display: block;
    width: 100%;
    height: 450px;

    overflow: hidden;
}

.card__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__footer{
    height: 50px;

    display: flex;
}

.card__title{
    width: 70%;
    line-height: 50px;
    text-indent: 20px;

    border-top: #3A3A39 solid 1px;
    font-size: 1.3rem;
}

.card__button{
    width: 30%;
    line-height: 50px;
    text-align: center;

    font-weight: 700;
    border-top: #3A3A39 solid 1px;
    border-left: #3A3A39 solid 1px;
}

.wrap{
    margin-bottom: 200px;
}

.mcon__header{
    font-size: 1.71rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.pickup__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;

    margin-bottom: 25px;
}

.pickup__img{
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 20px;

    border: #3A3A39 solid 1px;
}

.pickup__item{
    width: 25%;
    margin-bottom: 5px;
}

.pickup__item--left{
    width: 70%;
}

.pickup__item--right{
    width: 30%;
}

.btn--wrap{
    width: 100%;
    text-align: center;
}

.pickup__btn{
    padding: 5px 15px;

    background: transparent;
    border: #3A3A39 solid 1px;

    font-weight: 700;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.pickup__btn:hover{
    color: white;
    background: #3A3A39;
    transition: all 0.2s ease-in-out;
}

.footer{
    height: 240px;
    background: #ddd;
    padding: 30px 50px;
}

.footer__list{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.footer__list--left{
    flex-direction: column;
}

.footer__header{
    font-weight: 500;
    font-size: 1.71rem;
    margin-bottom: 20px;
}

.footer__input{
    padding: 10px 20px;

    border: none;

    font-size: 1.2rem;
}

.footer__list--sns{
    display: flex;
    list-style: none;
}

.footer__link--sns{
    transition: opacity 0.2s ease-in-out;
}

.footer__link--sns:hover{
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.footer__icon{
    font-size: 2rem;
    margin: 0 5px 10px 0;
}

.footer__input--submit{
    cursor: pointer;
    background: #eee;


    transition: all 0.2s ease-in-out;
}

.footer__input--submit:hover{
    background: #3A3A39;
    color: #eee;

    transition: all 0.2s ease-in-out;
}

.footer__item--grow{
    width: 50%;
}

.fnav__list{
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;
}

.fnav__header{
    font-size: 1.2rem;
    font-weight: 700;

    margin-bottom: 25px;
}

.fnav__link{
    transition: opacity 0.2s ease-in-out;
}

.fnav__link:hover{
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

[class^="pickup__label"]{
    font-size: .86rem;
    padding: 2px;
    background: #3A3A39;
    color: #eee;
    text-align: center;

    user-select: none;
}

/*products page*/
.panko{
    margin: 50px 0;
}

.panko__list{
    display: flex;
    list-style: none;
}

.panko__gt{
    margin: 5px;
}

.panko__item:last-child{
    font-weight: 700;
    pointer-events: none;
    cursor: text;
}

.wrap--sidebar{
    display: flex;
    justify-content: space-between;
}

.wrap--products{
    width: 75%;
}

.sidebar{
    width: 20%;
}

.sidebar__header{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.sidebar__list{
    list-style: none;
    padding-bottom: 20px;
    border-bottom: #3A3A39 solid 1px;
    margin: 20px 10px;
}

.sidebar__item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sidebar__txt{
    font-size: .9rem;
}

.sidebar__check{
    cursor: pointer;
}

.sidebar__list--color{
    display: flex;
}

.sidebar__swatch{
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;

    cursor: pointer;

    transition: transform 50ms ease-in-out;
}

.sidebar__swatch:nth-of-type(1){
    background: red;
}

.sidebar__swatch:nth-of-type(2){
    background: blue;
}

.sidebar__swatch:nth-of-type(3){
    background: green;
}

.sidebar__swatch:checked{
    border: black solid 2px;
    box-sizing: border-box;
}

.sidebar__swatch:hover{
    transform: scale(1.1);
    transition: transform 50ms ease-in-out;
}

/*legal page*/
.wrap--legal{
    width: 80%;
    margin: 0 auto;
}
.mcon__header--legal{
    text-align: center;
}

.legal__list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;

    align-items: center;
}

.legal__item--left{
    width: 30%;
    height: 100%;
    background: #ddd;
    padding: 80px 0;

    font-size: 1.2rem;
    text-align: center;
}

.legal__item--right{
    width: 60%;
    margin: 0 auto;
}

.legal__item{
}

.legal__list--pmt, .legal__list--fees, .legal__list--return{
    list-style: disc;
    list-style-position: inside;
}

.pmt__item, .fees__item, .return__item{
    margin: 5px 0;
}

.legal__txt{
    display: inline;
    line-height: 1.5rem;
}

/*item page*/
.wrap--item{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 120px);
}

.wrap--related{
    width: 80%;
    margin: 0 auto;
}

.gallery{
    width: 55%;
}

.gallery_active{
    height: 60%;
    object-fit: cover;
}

.gallery__list{
    display: flex;
    list-style: none;
    justify-content: flex-start;
}


.gallery__item{
    width: 15%;
    cursor: pointer;
}
.gallery__thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar--itemp{
    width: 35%
}

.sidebar__header--itemp{
    text-align: left;
}

.sidebar__cart{
    border: none;
    background: #3A3A39;
    padding: 20px 100px;
    margin: 50px auto;
    display: block;

    color: #eee;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar__item--desc{
    margin: 20px 0 0 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.sidebar__cart:hover{
    background: #00a29a;
    transition: all 0.2s ease-in-out;
}
